.Profile {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: var(--shadow-button);

    .user {
      display: flex;
      align-items: center;
      h1 {
        display: inline-block;
        margin: 0;
        margin-left: 25px;
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
      }
    }

    .options svg {
      color: var(--c-primary);
    }
  }

  .content {
    padding: 30px;
    overflow-y: scroll;

    @media screen and (min-width: 1100px) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    text-align: center;

    svg {
      display: block;
      margin: auto;
    }
  }
}
