@use "./styles/utils.scss" as theme;

* {
  box-sizing: border-box;
}

:root {
  --c-background: white;
  --c-primary: #32a5ff;
  --c-accent: #71ac62;
  --c-problem: #fa6d42;
  --shadow-button: 0 0 20px rgba(0, 0, 0, 0.192);
  --text-shadow: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

html,
body {
  position: fixed;
  overflow: hidden;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, "Open Sans", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: 500;
}

ul.wrapper {
  padding: 0;
  list-style: none;
}

button,
input[type="submit"] {
  background: var(--c-primary);
  padding: 15px 30px;
  margin: 5px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.wrapper {
    padding: 0;
    background: transparent;
    border-radius: 0;
    outline: none;
  }

  &:active {
    transform: scale(0.97);
    &:disabled {
      transform: scale(1);
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid #c7c7c7;
  background-color: #ebebeb;
}

textarea {
  font-family: inherit;
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 20px 20px;
  border: none;
  border-radius: 11px;
  background: #f3f5fa;
  grid-column: 1 / span 2;
  resize: vertical;
  max-height: 400px;
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#App {
  display: flex;
  flex-direction: column;
  height: var(--safe-height, 100vh);
  overflow: hidden;

  #app-screen {
    position: relative;
    height: 100%;
    width: 100%;

    @include theme.viewport(medium) {
      height: calc(100% - 70px);
    }
  }
}
