.Popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .popup-wrapper {
    position: relative;
    padding: 15px 35px;
    background-color: white;
    width: 500px;
    max-width: 100%;
    min-height: 200px;
    max-height: calc(100% - 100px);
    overflow-y: scroll;

    .popup-content {
      overflow-y: scroll;
    }

    h2 {
      margin: 5px 0;
    }
  }
}
